
      .input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field::placeholder{
  color: white;
}
.input-field:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

/* Set a style for the submit button */
.btn {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.form-control{
  background-color: rgba(0, 0, 0, 0.2);
  color:white;
  border:none;
}

.btn:hover {
  opacity: 1;
}